footer.footer
    .container.container__fluid.footer__between
        .row#contacts
            .footer__item.col-12.col-sm-6.col-md-6.col-lg-4.col-xl-3.mb-5
                a.logo.logo__width(href='/', title='Логотип Bus Albatroc')
                    img(src='/assets/img/footer/logo.png', alt='Логотип Bus Albatroc')
                .footer-nav
                    .footer__caption Меню
                    .menu-menju-futer-container
                        ul#menu-menju-futer.menu
                            li#menu-item-62.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-62
                                a(href='https://albatros.rent/about') Почему мы
                            li#menu-item-61.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-61
                                a(href='https://albatros.rent/services') Выбор автобуса
                            li#menu-item-63.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-2.current_page_item.menu-item-63
                                a(href='https://albatros.rent/cities') Как заказать
                            li#menu-item-60.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-60
                                a(href='https://albatros.rent/cooperation') Оставить заявку
                            li#menu-item-593.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-593
                                a(href='https://albatros.rent/blog') Отзывы

                a.footer__polit(href='/politica_konfidencialnosti.pdf', target='_blank') Политика конфиденциальности
                a.footer__polit(href='https://albatros.rent/wp-content/uploads/2018/01/SOGLAShENIE-O-UROVNE-OBSLUZhIVANIJa-ISPOLNITELJa-NA-SAJT.pdf', target='_blank', style='margin-top: 20px;') Стандарты оказания услуг
                a.footer__polit(href='https://albatros.rent/wp-content/uploads/2018/01/1-REKVIZITY-i-KONTAKTNAJa-INFORMACIJa-OOO-ALBATROS-BKT.pdf', target='_blank', style='margin-top: 20px;') Карточка предприятия

            .footer__item.col-12.col-sm-6.col-md-6.col-lg-8.col-xl-6.mb-5
                .footer__caption Контакты
                .row
                    p.footer__grid.col-lg-6
                        a.footer__text(href='tel:+78002003338')
                            | +7 (800) 200-3338
                            | круглосуточно
                        a.footer__text(href='tel:+74952041718') +7 (495) 204-1718 Москва
                        a.footer__text(href='tel:+78124093051')
                            | +7 (812) 409-3051 Санкт-Петербург
                        a.footer__text(href='tel:+74232060294')
                            | +7 (423) 206-0294 Владивосток
                        a.footer__text(href='tel:+73832099261') +7 (383) 209-9261 Новосибирск
                        a.footer__text(href='tel:+73919898353') +7 (391) 989-8353 Красноярск

                    p.footer__grid.col-lg-6
                        a.footer__text(href='tel:+78622257056') +7 (862) 225-7056 Сочи-Адлер
                        a.footer__text(href='tel:+73433009067')
                            | +7 (343) 300-9067 Екатеринбург
                        a.footer__text(href='tel:+73517111508')
                            | +7 (351) 711-1508 Челябинск
                        a.footer__text(href='tel:+73452564017') +7 (345) 256-4017 Тюмень
                        a.footer__text(href='tel:+442038681151') +44 2 0386 81151 Лондон
                        a.footer__text(href='mailto:info-bus@albatroc.com') info-bus@albatroc.com
                        span.footer__text.footer__phonesicon
                            a(href='tel:+79131257777') +7 (913) 125-7777
                            a.icon-phone.icon-telegram(href='tg://resolve?domain=+79131257777')
                            a.icon-phone.icon-whatsapp.desktop-viber(href='whatsapp://send?phone=+79131257777')
                            a.icon-phone.icon-viber(href='viber://chat?number=+79131257777')
                            a.icon-phone.icon-whatsapp.mobile-viber(href='viber://add?number=79131257777')

            .footer__item.col-12.col-md-6.col-lg-4.col-xl-3.mb-5
                .footer__caption Мы в соц. сетях
                .footer-social
                    a.footer-social__item(target='_blank', href='http://vk.com/public106255826')
                        i.fa.fa-vk(aria-hidden='true')
                    a.footer-social__item(target='_blank', href='https://instagram.com/88002501717_albatros/')
                        i.fa.fa-instagram(aria-hidden='true')
                    a.footer-social__item(target='_blank', href='https://www.facebook.com/albatroc2501717')
                        i.fa.fa-facebook(aria-hidden='true')
                    a.footer-social__item(target='_blank', href='https://twitter.com/Albatros_taxi')
                        i.fa.fa-twitter(aria-hidden='true')
                    a.footer-social__item(target='_blank', href='http://ok.ru/albatros.88002501717')
                        i.fa.fa-odnoklassniki(aria-hidden='true')
                    a.footer-social__item(target='_blank', href='https://www.youtube.com/channel/UCNjUJkB1mpb6J35HUwe8dow/featured')
                        i.fa.fa-youtube(aria-hidden='true')

                .footer__caption Реквизиты
                .footer__text ООО «Альбатрос - Бизнес Кар Трансфер»
                .footer__text ИНН: 4205324613
                .footer__text ОГРН: 1164205056278
                .footer__caption Принимаем к оплате
                .footer__payments
                    .footer__payment1
                    .footer__payment2


.bg__menu


//.popup.pop-3
//    .form.style-form.clear
//        p.title-form Ваше сообщение отправлено, спасибо!
//        p.title-form2 Наш специалист свяжеться с Вами в ближайшее время.
//    .close-pop2


script(src='../assets/js/bundle.js')


script(type='text/javascript', src='https://cdn.envybox.io/widget/cbk.js?wcb_code=3c7fdeea915b27d5071a78b5aa906a74', charset='UTF-8', async='')



