.owl-carousel.owl-theme.owl-carousel-ide.owl-carousel-diploms.wow.fadeIn(data-wow-delay='0.5s')
  .item
    a(href='/assets/img/content/message/alfamed.png', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/alfamed.png', alt='')
  .item
    a(href='/assets/img/content/message/biznes-eventsR.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/biznes-eventsR.jpg', alt='')
  .item
    a(href='/assets/img/content/message/diplom_1.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/diplom_1.jpg', alt='')
  .item
    a(href='/assets/img/content/message/diplom_2.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/diplom_2.jpg', alt='')
  .item
    a(href='/assets/img/content/message/diplom_3.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/diplom_3.jpg', alt='')
  .item
    a(href='/assets/img/content/message/DK-Pravitelstvo-MoscowR.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/DK-Pravitelstvo-MoscowR.jpg', alt='')
  .item
    a(href='/assets/img/content/message/dram.png', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/dram.png', alt='')
  .item
    a(href='/assets/img/content/message/DubaiR.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/DubaiR.jpg', alt='')
  .item
    a(href='/assets/img/content/message/hh.png', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/hh.png', alt='')
  .item
    a(href='/assets/img/content/message/LaspiR.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/LaspiR.jpg', alt='')
  .item
    a(href='/assets/img/content/message/rev1.png', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/rev1.png', alt='')
  .item
    a(href='/assets/img/content/message/rev2.png', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/rev2.png', alt='')
  .item
    a(href='/assets/img/content/message/rev3.png', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/rev3.png', alt='')
  .item
    a(href='/assets/img/content/message/rev4.png', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/rev4.png', alt='')
  .item
    a(href='/assets/img/content/message/status-prezentsR.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/status-prezentsR.jpg', alt='')
  .item
    a(href='/assets/img/content/message/transfer.png', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/transfer.png', alt='')
  .item
    a(href='/assets/img/content/message/Travel-ClubR.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/Travel-ClubR.jpg', alt='')
  .item
    a(href='/assets/img/content/message/vtb.png', data-lightbox='Диплом-1', data-title='Благодарственное письмо')
      img(src='/assets/img/content/message/vtb.png', alt='')



