mixin use(ballon)
    svg(width='12', height='12', viewBox='0 0 12 12', fill='none', xmlns='http://www.w3.org/2000/svg')
        g(id='placeholder-filled-point (3)')
            g#Group
                path#Vector(d='M5.9997 0C3.56392 0 1.58203 1.98189 1.58203 4.41792C1.58203 5.05333 1.71209 5.66001 1.96839 6.22124C3.07293 8.63824 5.19064 11.1901 5.81353 11.9145C5.86019 11.9687 5.92823 11.9999 5.99983 11.9999C6.07142 11.9999 6.13946 11.9687 6.18613 11.9145C6.80877 11.1902 8.92648 8.63848 10.0314 6.22124C10.2878 5.66001 10.4177 5.05333 10.4177 4.41792C10.4175 1.98189 8.43561 0 5.9997 0ZM5.9997 6.7126C4.73441 6.7126 3.7049 5.68309 3.7049 4.4178C3.7049 3.15238 4.73441 2.12287 5.9997 2.12287C7.265 2.12287 8.29451 3.15238 8.29451 4.4178C8.29463 5.68309 7.26512 6.7126 5.9997 6.7126Z', fill='white')

+use






